#footer {
    margin-top:10px;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
 }

 .tbtn{
     float:right;
 }


 #calCount{
     float:right;
 }
 #clrbtn{
     margin-bottom: 10px;
    float:right;
 }
 .postDiv{
     background-color:white;
     color:black;
     text-align:center;
 }
 .floatl{
     float:left;
 }
 .ml{margin-left:20px !important;}
 .mt{
    margin-top:20px !important;

}